body {
    background-color: beige;
}
.devMenu{
    display: flex;
}
.main{
    display: flex;
}

.left {
    width: 50%;
    height: 50%;
    background-color: aquamarine;
}
.right {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;}

.right img {
    width: 100px;
    border: 1px solid green
}

#canvas{
    width: 600px;
    height: 600px;
    border: 1px solid red
}