body {
    background-color: gray;
}

canvas {
    border: 5px solid #000000;
    position: relative; 
    left:0px;
}

div {
display: flex;
gap: 10px;
}

.right-column {
    position: fixed;
    right: 0;
    top: 0;
    width: 50%; /* Adjust width as needed */
    background-color: #4c6463; /* Background color to distinguish the column */
    display: grid;
}

.right-column img {
    width: 100%;
    margin-bottom: 10px;
    border: solid;
    border-color: #000000;
}

header{
    display: flex;
    padding: 10px;
    margin-top: 0px;
}